extends layout

block content
  h1= title
  p Welcome to #{title}
  
    form(action="/update" method="POST")
      input(type='text', placeholder='Story Name', name='name')
      input(type='submit', value='add story')
    for item in stories
      .row
        |Story: #{item.name}
        br
        |Story ID:#{item.id}
        br
        a(href=item.url) #{item.url}
    
